{% extends 'layout.html' %}

{% block title %}
   login
{% endblock  %}

{% block content %}

<h1  class ="text-center"> login </h1>
  <div class="container">
    
   

    {% from "_formhelpers.html" import render_field %}

   <div class="row">
    <div class="col-md-4" ></div>
    <div class="col-md-4" >
    {% include '_messages.html' %}

    <form method="POST" enctype="multipart/form-data">
      <div>
    
        {{ render_field(form.email,class="form-control border-dark") }}
        {{ render_field(form.password,class="form-control border-dark") }}
    
       
      </div>
      <p><input type="submit"  class="btn btn-primary mt-3" value=Register> </p>
    </form>
    </div>
  <div class="col-md-4" ></div>

  </div>   
</div>


{% endblock  %}